.shadow-line{
    max-width: 800px;
    margin: 0 auto;
    img{
        max-width: 100%;
        &:nth-child(2){
            transform: rotate(180deg) translateY(calc(100% + 2px)); // 
        }   
    }
}