.shadow-line{
    max-width: 800px;
    height: 1px;
    margin: 100px auto;
    background-color: #fff;
    .shadow-effect{
        width: 600px;
        margin: 0 auto;
        box-shadow: 0 0 40px 10px #dfdfdf;
    }
}