// buttons
$downloadBtnBackground: #58d093;
$btnHoverBackground: #3c9066;
$purchaseBtnBackground: #425a5a;
$btnTextColor: #fff; 

// shadows
$purchaseBtnShadow: #000000a6;


// pricing plans
$pricing-plan-header-description-color: #a1a1a1;
$pricing-plan-list-border-color: #dfdfdf;

// contact us 
$input-background-color: #e6e6e6;
$input-text-color: #a6a6a6;

// get The App
$get-the-app-background-color: #f0f2f3;